/* fonts */
@font-face {
  font-family: 'Inter', sans-serif;
  src: local('Inter'), url(/fonts/Inter-Regular.ttf) format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Inter', sans-serif;
  src: local('Inter'), url(/fonts/Inter-Medium.ttf) format('truetype');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Inter', sans-serif;
  src: local('Inter'), url(/fonts/Inter-Bold.ttf) format('truetype');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Inter', sans-serif;
  src: local('Inter'), url(/fonts/Inter-SemiBold.ttf) format('truetype');
  font-style: normal;
  font-weight: 700;
}

:root {
  /* colors */
  --black-color: #263238;
  --white-color: #ffffff;
  --accent-color: #4CAF4F;
  --title-color: #4D4D4D;
  --text-color: #717171;
}

body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  background-color: var(--white-color);
  color: var(--text-color);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
  display: block;
}

.title, .text {
  margin-top: 0;
  margin-bottom: 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  text-transform: capitalize;

  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 3px;
  border-style: none;
  cursor: pointer;
}

.button_icon {
  width: 12px;
  height: 12px;
}

/* header page */

.header__page {
  width: 100%;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--white-color);
  box-shadow: 0px 2.78428px 5.56856px rgba(171, 190, 209, 0.4);
  position: fixed;
  z-index: 2;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;

  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
  color: var(--black-color);
}

.header__logo {
  text-transform: capitalize;
  color: #263238
}

.logo__icon {
  width: 30px;
  height: 20px;
  margin-right: 5px;
}

.navigation {
  display: none;
}


.navigation__list {
}

.navigation__item {
}

.navigation__link {
  /* padding-top: 10px;
  padding-bottom: 10px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  text-transform: capitalize;
  
  color: var(--title-color); */
}

.navigation__item:not(:last-child) {
  /* margin-right: 15px; */
}

.reg-btn {
  display: none;
}

/* mobile menu  */
.mobile-menu__button {
  background-color: var(--white-color);
  color: var(--accent-color);
}

.mobile-menu__icon {
  width: 30px;
  height: 30px;
}

.mobile-menu {
  position: absolute;
  left: 0;
  top: 70px;
  width: 100vw;
  height: calc(100vh - 70px);
  overflow: auto;
  background-color: var(--white-color);
  transform: translateY(-100%);
  opacity: 0;
  z-index: 1;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms linear,
    transform 250ms linear,
    visibility 250ms linear;
}

.mob-menu__nav {

}

.navigation__item:not(:last-child) {
  margin-bottom: 10px;
}

.navigation__link {
    padding-top: 5px;
    padding-bottom: 5px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;

    color: var(--title-color);
    cursor: pointer;
}

/* hero section */
.hero__section {
  background-color: #F5F7FA;
}

.hero__container {
  display: flex;
  gap: 72px;
  align-items: center;
  padding-top: 66px;
  padding-bottom: 66px;
}

.hero__content {
  flex-basis: 60%;
}

.hero__title {
  margin-bottom: 12px;
  /* font-family: 'Inter';
  font-style: normal;
  font-weight: 600; */
  text-wrap: balance;
  font-size: 45px;
  line-height: 1.2;
  color: #4D4D4D;
}

.hero__text {
  margin-bottom: 22px;
}

.hero__icon {
  display: flex;
  flex-basis: 40%;
  width: auto;
  height: 284px;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);

  /* @media screen and (min-width: 1366px) {
    display: none;
  } */
}

.is-hidden {
  display: none;

}


@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .navigation {
    display: flex;
  }

  .navigation__list {
    display: inherit;
  }

  .navigation__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 15px;
  }

  .navigation__link {
    padding-top: 10px;
    padding-bottom: 10px;

    text-transform: capitalize;
  }

  .mobile-menu {
    display: none;
  }

  .reg-btn {
    display: flex;

      /* align-items: baseline; */
  /* text-align: center; */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;

    color: var(--white-color);
  }

  .mobile-menu__button {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

