/* fonts */
/* 
@font-face {
  font-family: 'Inter', sans-serif;
  src: local('Inter'), url(/fonts/Inter-Regular.ttf) format('TrueType');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Inter', sans-serif;
  src: local('Inter'), url(/fonts/Inter-Medium.ttf) format('TrueType');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Inter', sans-serif;
  src: local('Inter'), url(/fonts/Inter-Bold.ttf) format('TrueType');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Inter', sans-serif;
  src: local('Inter'), url(/fonts/Inter-SemiBold.ttf) format('TrueType');
  font-style: normal;
  font-weight: 700;
} */

:root {
  /* colors */
  --black-color: #263238;
  --white-color: #ffffff;
  --accent-color: #4CAF4F;
  --title-color: #4D4D4D;
  --text-color: #717171;
}

body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  background-color: var(--white-color);
  color: var(--text-color);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
  display: block;
}

.title, .text {
  margin-top: 0;
  margin-bottom: 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  text-transform: capitalize;

  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 3px;
  border-style: none;
  cursor: pointer;
}

.section {
  padding-top: 28px;
  padding-bottom: 28px;
}

/* COMPONENTS */

/* header page */
.header__page {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 2;

  background-color: var(--white-color);
  box-shadow: 0px 2.78428px 5.56856px rgba(171, 190, 209, 0.4);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: auto;
}

.logo {
  display: flex;
  align-items: center;

  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
  color: var(--black-color);
}

.header__logo {
  text-transform: capitalize;
  color: #263238
}

.logo__icon {
  width: 30px;
  height: 20px;
  margin-right: 5px;
}

.navigation {
  display: none;
}

.header__reg-btn {
  display: none;
}

.reg-btn {
  padding: 10px 22px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  text-transform: capitalize;
}


.reg-btn__icon {
  width: 16px;
  height: 16px;
}

/* mobile menu  */
.mobile-menu__button {
  background-color: var(--white-color);
  color: var(--accent-color);
}

.mobile-menu__icon {
  width: 30px;
  height: 30px;
}

.mobile-menu {
  position: absolute;
  left: 0;
  top: 52px;
  width: 100vw;
  height: calc(100vh - 70px);
  overflow: auto;
  background-color: var(--white-color);
  transform: translateY(-100%);
  opacity: 0;
  z-index: 1;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 600ms ease-in,
    transform 500ms ease-in,
    visibility 500ms ease-in;
}

.mob-menu__nav {
  margin-bottom: 20px;
}

.navigation__item:not(:last-child) {
  margin-bottom: 10px;
}

.navigation__link {
  padding-top: 5px;
  padding-bottom: 5px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;

  color: var(--title-color);
  cursor: pointer;
}

/* hero section */
.hero__section {
  background-color: #F5F7FA;
}

.hero__container {
  padding-top: 33px;
  padding-bottom: 33px;
}

.hero__content {
  margin-bottom: 50px;
}

.hero__icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 272;
  height: 284px;
}

.hero__title {
  margin-bottom: 12px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 1.2;
  color: #4D4D4D;
}

.hero__text {
  margin-bottom: 22px;
}

/* clients section */

.clients__container {
}

.clients__title {
  margin-bottom: 6px;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 31px;
}

.clients__text {
  margin-bottom: 12px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  text-align: center;
  color: var(--text-color);
}

.clients__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 22px 72px ;
  /* overflow: hidden; */
}

.clients__item {

}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--black-color);
  transition: color 250ms linear, background-color 250ms linear;
}

.clients__link:hover, .clients__link:focus {
  cursor: pointer;
  color: var(--white-color);
  background-color: #4CAF4F;
}

.clients__icon {
  width: 34px;
  height: 34px;
  color: currentColor;
}

/* community section */
.community__title {
  margin-bottom: 6px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 1.2;
  text-align: center;
  color: var(--title-color);
}

.community__text {
  margin-bottom: 12px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  text-align: center;
  color: var(--text-color);
}

.community__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.community__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.community__link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms linear, transform 250ms linear;
}

.community__link::after {
  content: "";
  display: block;
  position: absolute;
  width: 34px;
  height: 34px;
  left: 35%;
  top: 25%;
  background-color: #E8F5E9;
  border-radius: 12.5293px 3.48035px 6.96069px;
  transform: rotate(-180deg);
  z-index: 1;
}

.community__link:hover, .community__link:focus {
  background-color: #E8F5E9;
  transform: scale(1.1);
}

.community__icon {
  width: 34px;
  height: 34px;
  z-index: 2;
  color: var(--accent-color);
}

/* unlock section */

.unlock__container {
  text-align: center;
}

.unlock__icon {
  width: 308px;
  height: 229px;
}

.unlock__content {
  margin-top: 22px;
  text-align: left;
}

.unlock__title {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 25px;
  line-height: 1.2;
  color: var(--title-color);
}

.unlock__text {
  margin-bottom: 22px;
  color: var(--text-color);
}

.unlock__btn {
  padding: 10px 22px;
  min-width: 105px;
}

/* achievements section */

.achievements__wrapper {
  margin-bottom: 22px;
}

.achievements__title {
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 25px;
  line-height: 1.2;
  color: var(--title-color);
}

.achievements__text {
  color: #18191F;
}

.achievements__list {
  /* display: flex; */
  /* justify-content: space-evenly; */
}

.achievements__item:not(:last-child) {
  margin-bottom: 28px;
}

.achievements__link {
  display: flex;
  align-items: center;
  gap: 12px;
}

.achievements__icon {
  width: 34px;
  height: 34px;
  color: var(--accent-color)
}

.achievements__content {

}

.achievements__number {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #4D4D4D;
}

.achievements__description {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: capitalize;
  color: #717171;
}

/* calender section */
.calender__container {

}

.calender__icon {
  width: 308px;
  height: 302px;
}

.calender__content {
  margin-top: 22px;
}

.calender__title {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 25px;
  line-height: 1.2;
  color: var(--title-color);
}

.calender__text {
  margin-bottom: 22px;
  color: var(--text-color);
}

.calender__btn {
  padding: 10px 22px;
  min-width: 105px;
}

/* customers section */

  .customers__container {

  }

.customers__image {
  width: 230px;
  height: 230px;
  display: block;
  float: left;
  margin-right: 12px;
}

.customers__text {
  margin-bottom: 12px;
  font-weight: 500;
}

.customers__title {
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;
  text-transform: capitalize;
  color: #4CAF4F;
}

.customers__subtitle {
  margin-bottom: 22px;
  color: #89939E;
}

.customers__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px 28px;
}

.customers__link {
  color: var(--accent-color);
}

.customers__icon {
  width: 34px;
  height: 34px;
  color: var(--black-color);
}

.customers__link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;

  font-weight: 600;
  font-size: 14px;
  text-transform: capitalize;

  color: var(--accent-color);
}

.customers__icon--btn {
  width: 16px;
  height: 16px;
}

/* updates section */
.updates__title {
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 25px;
  line-height: 31px;
  text-align: center;
  color: var(--title-color);
}

.updates__text {
  text-align: center;
}

.updates__list {

}

.updates__item {

}

.updates__content {
  font-weight: 600;
  font-size: 14px;
  text-align: center;
}

/* demo section */
.demo__section {
  background-color: #F5F7FA;;
}

.demo__title {
  margin-bottom: 22px;
  font-weight: 600;
  font-size: 45px;
  line-height: 1.2;
  text-align: center;
  color: var(--black-color);
}

.demo__btn {
  padding: 10px 22px;
  margin-left: auto;
  margin-right: auto;
}

.demo__icon {
  width: 16px;
  height: 16px;
}

/* footer section  */
.footer__section {
  background-color: var(--black-color);
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    padding-left: 48px;
    padding-right: 48px;
  }

  /* achievements section */

  .achievements__list {
    display: flex;
    flex-wrap: wrap;
    gap: 28px 21px;
  }

  .achievements__item {
    flex-basis: calc(100% / 4 - 28px);
    flex-grow: 1;
  }

  .achievements__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .navigation {
    display: flex;
  }

  .navigation__list {
    display: inherit;
  }

  .navigation__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 15px;
  }

  .navigation__link {
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: capitalize;
  }

  .mobile-menu {
    display: none;
  }

  .reg-btn {
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: var(--white-color);
  }

  .mobile-menu__button {
    display: none;
  }

    /* hero */
  .hero__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 72px;
    padding-top: 66px;
    padding-bottom: 66px;
  }

  .hero__content {
    flex-basis: 60%;
  }

  .hero__icon {
    flex-basis: 40%;
  }

  /* community */
  .community__list {
    gap: 22px 44px;
  }

  .community__item {
    flex-basis: calc(100%/2 - 44px);
  }

  /* unlock section */
  .unlock__container {
    display: flex;
    gap: 34px;
  }

  .unlock__content {
    margin-top: 0;
  }

  .unlock__icon {
    flex-basis: 40%;
  }

  .unlock__content {
    flex-basis: 60%;
  }

  /* achievements section */
  .achievements__wrapper {
    margin-bottom: 0;
  }

  /* achievements section */
  .achievements__container {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  .achievements__wrapper {
    flex-basis: 50%;
  }

  .achievements__list {
    flex-basis: 50%;
  }

  /* .calender section */
  .calender__container {
    display: flex;
    gap: 34px;
  }

  .calender__icon {
    flex-basis: 40%;
  }

  .calender__content {
    flex-basis: 60%;
  }

  /* customers section */
  .customers__container {
    /* display: flex;
    gap: 54px; */
  }

  .customers__image {
    margin-right: 24px;
  }

}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 100px;
    padding-right: 100px;
  }

  /* community */
  .community__list {
    gap: 22px 44px;
  }

  .community__item {
    flex-basis: calc(100%/3 - 88px);
  }

  /* customers section */
  .customers__image {
    margin-right: 54px;
  }

}


.menu-open {
  overflow-y: hidden;
  /* position: fixed; */
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);
}

.is-hidden {
  display: none;
}
